body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    
}
.heading,
footer{
    background-color: #1F2937;
}
.heading{
    font-size: 18px;
    color:#E5E7EB;
    padding: 40px;
    padding-left:200px;
    padding-right: 200px;
    padding-bottom: 50px;
    
}
.heading h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9Faf8;
    margin-bottom:0px;
    /* padding-bottom: 0px; */
}
#logo{
    font-size:24px;
    color:#F9Faf8;
}
header{
    display:flex;
    justify-content: space-between;
}
ul{
    list-style: none;
    display: flex;
    gap:20px;
}

header a{
text-decoration:none;
font-size: 18px;
    color:#E5E7EB;
}

.main-section{
    display: flex;
    justify-content: space-between;
    margin-bottom:40px;
}
.main-text{
    width:500px;
}
.img-holder{
    display: flex;
     margin-top:50px; 
    height: 250px;
  width: 600px;
  background-color: rgb(112, 107, 107);
  justify-content:center;
  align-items: center;
}

.main-section button{
    font-size:18px;
    font-weight:bold;
    color:#F9Faf8;
    padding:10px 40px;
    background-color:#3882F6;
    border-radius: 8px;
}
.info{
    padding: 40px;
    padding-left:200px;
    padding-right: 200px;
    padding-bottom: 50px;
}

.info h2{
    text-align: center;
    font-size: 36px;
    font-weight:bolder;
    color:#1F2937;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}
.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:270px;
    text-align: center;
}

.shapes{
    height:200px;
    width:200px;
    border: 5px solid #3882F6;
    border-radius: 8px;
}